<% layout("./layouts/boilerplate") %>

<style>
/* nav */


    /* footer */
.f-info-links a {
    text-decoration: none;
    color : #222222;
}

.f-info-links a:hover {
    text-decoration : underline;
}

.f-info-socials, 
.f-info-links,
.f-info-brand
{
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right : 1rem;
    font-size: 1.38rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background: #ebebeb;
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: space-between;
}

</style>

<div class="row">
    <div class="col-8 offset-2">
        <h3>Edit your listng</h3>
        <form method="POST" action="/listings/<%=listing._id %>?_method=PUT">
            <div class="mb-3">
                <label 
                    for="title" 
                        class="form-label">Title</label>
                <input 
                    name="listing[title]"  
                        value="<%= listing.title %>" 
                            type="text" 
                                class="form-control">
            </div>
            
            <div class="mb-3">
                <label 
                    for="description" 
                        class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control"><%=listing.description%></textarea>
            </div>


            <div class="mb-3">
                <label 
                    for="image" 
                        class="form-label">Image Link
                </label>
                <input 
                    name="listing[image]" 
                        value="<%= listing.image %>" 
                            class="form-control">
            </div>
        
            <div class="mb-3">
                <label 
                    for="price" 
                        class="form-label">Price</label>
                <input 
                    name="listing[price]"   
                        value="<%= listing.price %>" 
                            type="number" 
                                class="form-control">
            </div>

            <div class="mb-3">
                <label 
                    for="location" 
                        class="form-label">location</label>
                <input 
                    name="listing[location]" 
                        value="<%= listing.location %>" 
                            type="text" 
                                class="form-control">
            </div>
            

            <div class="mb-3">
                <label 
                    for="country" 
                        class="form-label"></label>
                <input 
                    name="listing[country]" 
                        value="<%= listing.country %>" 
                            type="text" 
                                class="form-control">
            </div>
            

            <button class="btn btn-dark mb-5">submit</button>
        </form>
    </div>
</div>