<% layout("../layouts/boilerplate") %>
<body>
    <h3>Edit your listng</h3>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT">
        <input name="listing[title]" value="<%= listing.title %>" type="text">
        <hr>
        <textarea name="listing[description]"><%=listing.description%></textarea>
        <hr>
        <input name="listing[image]" value="<%= listing.image %>">
        <hr>
        <input name="listing[price]" value="<%= listing.price %>" type="number">
        <hr>
        <input name="listing[location]" value="<%= listing.location %>" type="text">
        <hr>
        <input name="listing[country]" value="<%= listing.country %>" type="text">
        <hr>
        <button>submit</button>
    </form>
</body>