<% layout("./layouts/boilerplate") %>
<body>
    <h1>All listing</h1>
    <!-- <form method="GET" action="listings/new" >
        <button>Create new Listings</button>
    </form> -->
    <ul>
        <% for(let listing of allListing) { %>
        <li>
            <a href="/listings/<%=listing._id%>"><%= listing.title %></a><br>
            <a href="/listings/<%=listing._id%>"><%= listing.title %></a><br>
            <a href="/listings/<%=listing._id%>"><%= listing.title %></a>
        </li>
        <% } %>
    </ul>
</body>